.container {
    width:800px;
    margin:0 auto;
    padding:0;
}

.tile {
    display:inline-block;
    float:left;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:1%;
}


.foot {
    margin-left:2%;
    width:48%;
    float:left;
}