body {
    background-color:#f4f2e8;
}

.container {
    width:800px;
    margin:0 auto;
    padding:0;
    
}

.tile {
    display:inline-block;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:1%;
    width:350px;
    vertical-align: top;
    border:2px double black;
    background-color:black;
    overflow:hidden;
    position:relative;
}

.inner-wrapper {
    position:absolute;
    z-index:2;
    top: 100px;
    padding:15px 20px;
    transition: 0.1s;
    background: rgba (32,32,32,0.9);
    opacity:0;
    color:white;
    font-size:2em;
}

.tile:hover .inner-wrapper {
    opacity:1;
}

.tile:hover img {
    opacity:0.3;
}



.half {
    width:380px;
    display:inline-block;
    vertical-align:top;
}

#portrait {
    display:inline-block;
    border:2px solid black;
    padding:1px;
}

#personal {
    display:inline-block;
    padding-left:4%;
    padding-right:4%;
    font-size:1.2em;
    margin-top:60px;
}

#skills li {
    font-size:1.2em;
    margin: 20px 0;
}

.contact {
    width:380px;
    display:inline-block;
}

input {
    display:block;
    margin-bottom:1%;
}

hr {
    border:1px solid black;
}

.foot {
    margin-left:2%;
    width:48%;
    float:left;
}

.foot a p {
    text-decoration: none;
    color:#262626;
}

.foot a p:hover {
    color:#878787;
}



/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#menu_button {
    font-size:2em;
    font-weight: bold;
    color: #262626;
    float:right;
}

#menu_button:hover {
    color: #878787;
    cursor: pointer;
}

.overlay-content a li {
    list-style-type:none;
    overflow:hidden;
}

.post-title {
    text-align:center;
}

.post-image {
    width:100%;
    border:1px solid black;
}

.post-description {
    font-size:1.4em;
}

.external-link {
    color:#4e5259;
    font-size:1.4em;
    text-decoration: none;
    font-weight: bold;
}

.external-link:hover {
    color:#818181;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-width: 799px) {
/*    .overlay a {font-size: 20px}*/
/*    .overlay .closebtn {*/
/*        font-size: 40px;*/
/*        top: 15px;*/
/*        right: 35px;*/
/*    }*/
    
    .container {
        width:400px;
    }
    
    .tile {
        margin:0 auto;
        margin-left:6%;
        margin-bottom:2%;
    }
    
    .site-name {
        display:inline-block;
        text-align:center;
        margin-left:9%;
    }
    
    #menu_button {
        float:none;
        overflow:hidden;
        margin-left:42%;
    }
    
    .post-title {
        margin-top:0;
    }
}